# for ssn tool
service ssn /system/bin/ssn
    class core
    seclabel u:r:asus_ssn:s0
    oneshot

on boot
    chmod 0444 /proc/cmdline

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/bin
    mkdir /asusfw
    mkdir /factory
    mkdir /asdf
    
# ASUS_BSP+++ "Porting for factory and tcpdump"
# tcpdump_warp service to save tcpdump to /sdcard
service tcpdump-warp /system/xbin/netlog.sh
    class late_start
    user root
    group root
    disabled


# ASUS_BSP+++ ChanceChen "add save-hcidump service"
service save-hcidump /system/bin/sh /system/etc/init.asus.hcidump.sh
    class late_start
    user root
    group root
    disabled
    oneshot
# ASUS_BSP--- ChanceChen "add save-hcidump service"
# ASUS_BSP+++ ChanceChen "stop btsnoop log recorder as hcidump service stop"
on property:init.svc.save-hcidump=stopped
    setprop debug.bluetooth.btsnoop false
    chmod 775 /data/logcat_log
# ASUS_BSP--- ChanceChen "stop btsnoop log recorder as hcidump service stop"

on fs

on post-fs

#ASUS_BSP+++ "add for the wlan 5GHz Tx power by the cap"
service wlanTxCap1 /system/bin/sh /system/etc/init.asus.wlantxcap1.sh
    class late_start
    user root
    group root
    disabled
    oneshot

service wlanTxCap0 /system/bin/sh /system/etc/init.asus.wlantxcap0.sh
    class late_start
    user root
    group root
    disabled
    oneshot

on property:wlan.tx.cap=1
    start wlanTxCap1

on property:wlan.tx.cap=0
    start wlanTxCap0
#ASUS_BSP--- "add for the wlan 5GHz Tx power by the cap"

# +++ ASUS_BSP : Add for mount demoapp partition
service mount-cache2 /system/bin/sh /system/etc/init.asus.mount-cache2.sh
    class late_start
    oneshot

on property:persist.sys.enableAPD=1
    #start mount-cache2
    wait /dev/block/platform/msm_sdcc.1/by-name/demoapp
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/demoapp
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/demoapp /APD nosuid nodev barrier=1 noauto_da_alloc

    chmod 0775 /APD
    chown system system /APD
    restorecon_recursive /APD

on property:persist.sys.enableAPD=0
    #start mount-cache2
    umount /APD
    
 # --- ASUS_BSP : Add for mount demoapp partition
on post-fs-data
# mount asusdata
    #mkdir /factory 0660 root shell
    wait /dev/block/platform/msm_sdcc.1/by-name/asusdata
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/asusdata
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/asusdata /factory nosuid nodev barrier=1 noauto_da_alloc
    chmod 0775 /factory
    chown root shell /factory
    restorecon_recursive /factory
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/asusdata /factory remount ro nosuid nodev barrier=1 noauto_da_alloc
# mount asdf
    wait /dev/block/platform/msm_sdcc.1/by-name/tombstones
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/tombstones
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/tombstones /asdf nosuid nodev barrier=1
    chmod 0777 /asdf
    restorecon_recursive /asdf
    write /proc/asusevtlog  "ASDF: Check LastShutdown log."
    write /proc/asusdebug  get_asdf_log

#ASUS BSP Eric Wu +++ Add for PCBID Test
service create_pcbid /system/bin/sh /system/bin/create_pcbid.sh
	class late_start	
	oneshot
	disabled
on post-fs-data
#ASUS BSP Eric Wu +++ Add for PCBID Test


# ASUS_BSP Gavin_Chang +++ remove gmxt partition
# mount gmxt
#    mkdir /data/gmxt 0775 media_rw media_rw
#    wait /dev/block/platform/msm_sdcc.1/by-name/gmxt
#    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/gmxt
#    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/gmxt /data/gmxt nosuid nodev barrier=1 noauto_da_alloc
#    chmod 0775 /data/gmxt
#    chown media_rw media_rw /data/gmxt
# ASUS_BSP Gavin_Chang --- remove gmxt partition

# ASUS_BSP Gavin_Chang +++ add eMMC total size for AMAX
    symlink /sys/devices/msm_sdcc.1/mmc_host/mmc0/mmc0:0001/emmc_total_size /data/data/emmc_total_size
    chmod 0777 /data/data/emmc_total_size
# ASUS_BSP Gavin_Chang --- add eMMC total size for AMAX

# ASUS_BSP +++ Josh_Liao "emmc info for ATD"
    symlink /sys/class/mmc_host/mmc0/mmc0:0001/emmc_status /data/data/emmc_status
    symlink /sys/class/mmc_host/mmc0/mmc0:0001/emmc_size /data/data/emmc_size
    symlink /sys/class/mmc_host/mmc0/mmc0:0001/emmc_prv /data/data/emmc_fw
    symlink /sys/class/mmc_host/mmc0/mmc0:0001/emmc_fw_version /data/data/emmc_fw_version
    chmod 0777 /data/data/emmc_status
    chmod 0777 /data/data/emmc_size
    chmod 0777 /data/data/emmc_fw
    chmod 0777 /data/data/emmc_fw_version
# ASUS_BSP --- Josh_Liao "emmc info for ATD"

# ASUS_BSP +++ Alian_Shen "cm36283 ATD test"
    symlink /sys/devices/virtual/sensors/lsensor/atd_status /data/data/lightsensor_status
    chmod 0777 /data/data/lightsensor_status
    symlink /sys/devices/virtual/sensors/lsensor/atd_adc /data/data/lightsensor_atd_adc
    chmod 0777 /data/data/lightsensor_adc
    symlink /sys/devices/virtual/sensors/psensor/atd_status /data/data/proximity_status
    chmod 0777 /data/data/proximity_status
    
    symlink /sys/devices/f9925000.i2c/i2c-3/3-0060/cm36283/adc	/data/data/lightsensor_adc
    chmod 0777 /data/data/lightsensor_adc
    symlink /sys/devices/f9925000.i2c/i2c-3/3-0060/cm36283/calibration_200 /data/data/lightsensor_calibration_200
    chmod 0777 /data/data/lightsensor_calibration_200
    symlink /sys/devices/f9925000.i2c/i2c-3/3-0060/cm36283/calibration_1000 /data/data/lightsensor_calibration_1000
    chmod 0777 /data/data/lightsensor_calibration_1000
    symlink /sys/devices/f9925000.i2c/i2c-3/3-0060/cm36283/calibration_prox_hi /data/data/proximity_hi_calibration
    chmod 0777 /data/data/proximity_hi_calibration
    symlink /sys/devices/f9925000.i2c/i2c-3/3-0060/cm36283/calibration_prox_lo /data/data/proximity_lo_calibration
    chmod 0777 /data/data/proximity_lo_calibration
    symlink /sys/devices/f9925000.i2c/i2c-3/3-0060/cm36283/proxm /data/data/proximity_proxm
    chmod 0777 /data/data/proximity_proxm
# ASUS_BSP --- Alian_Shen "cm36283 ATD test"

# ASUS_BSP +++ Alian_Shen "al3010 ATD test"
    symlink /sys/devices/f9928000.i2c/i2c-6/6-001c/al3010/lux /data/data/pad_lightsensor_adc
    chmod 0777 /data/data/pad_lightsensor_adc
    symlink /sys/devices/f9928000.i2c/i2c-6/6-001c/al3010/calibration_200 /data/data/pad_lightsensor_calibration_200
    chmod 0777 /data/data/pad_lightsensor_calibration_200
    symlink /sys/devices/f9928000.i2c/i2c-6/6-001c/al3010/calibration_1000 /data/data/pad_lightsensor_calibration_1000
    chmod 0777 /data/data/pad_lightsensor_calibration_1000
# ASUS_BSP --- Alian_Shen "al3010 ATD test"

# mount asusfw
    #mkdir /asusfw 0660 root shell
    wait /dev/block/platform/msm_sdcc.1/by-name/asusfw
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/asusfw
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/asusfw /asusfw nosuid nodev barrier=1 noauto_da_alloc

    chmod 0775 /asusfw
    chown root system /asusfw
    restorecon_recursive /asusfw
    
# +++ ASUS_BSP : add for asus boot animation partition
# +++ ASUS_BSP : Evan : Preload camera firmware and calibration data to memory.
#	write /proc/driver/mt9m114_power 3
# --- ASUS_BSP : Evan : Preload camera firmware and calibration data to memory.
# mount ADF
#	mkdir /ADF
#    wait /dev/block/platform/msm_sdcc.1/by-name/asuskey5 1
#    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/asuskey5
#    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/asuskey5 /ADF nosuid nodev barrier=1 noauto_da_alloc
#
#    mkdir /ADF/boot 0660 system system
#    chmod 0775 /ADF
#    chmod 0775 /ADF/boot
#    chown system system /ADF
    
# --- ASUS_BSP : add for asus boot animation partition

#ASUS_BSP Freeman: add for A86 ICON LED +++
chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/key_led
chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/user_mode
chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/screen_unlocked
chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/TPID
#ASUS_BSP Freeman: add for A86 ICON LED ---

#ASUS_BSP Freeman:add for AMAX to FW_UPDATE +++
chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/driver_ver
chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/function
chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/rc_calibration
chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/load_fw
#ASUS_BSP Freeman:add for AMAX to FW_UPDATE ---

#ASUS_BSP Freeman +++
	chmod 0644 /sys/devices/f9924000.i2c/i2c-2/2-0001/function
	chmod 0644 /sys/devices/f9924000.i2c/i2c-2/2-0001/key_led
	chmod 0644 /sys/devices/f9924000.i2c/i2c-2/2-0001/load_fw
	chmod 0644 /sys/devices/f9924000.i2c/i2c-2/2-0001/period_duty
	chmod 0644 /sys/devices/f9924000.i2c/i2c-2/2-0001/rc_calibration
	chmod 0644 /sys/devices/f9924000.i2c/i2c-2/2-0001/user_mode
	chmod 0200 /sys/devices/f9924000.i2c/i2c-2/2-0001/screen_unlocked

	chmod 0600 /dev/sis_aegis_touch_device
#ASUS_BSP Freeman ---

#ASUS BSP Wei +++
rm /data/data/hdmi_status
symlink /sys/devices/virtual/graphics/fb1/connected /data/data/hdmi_status
chmod 0777 /data/data/hdmi_status

rm /data/data/sdtp2600_fw_ver
symlink /sys/devices/f9928000.i2c/i2c-6/6-0074/SDTP2600/fw_ver /data/data/sdtp2600_fw_ver
chmod 0777 /data/data/sdtp2600_fw_ver

#ASUS BSP Wei ---

    #ASUS_BSP Deeo : add for Led test +++
    chown system system /sys/class/leds/red/blink
    chmod 0664 /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chmod 0664 /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink
    chmod 0664 /sys/class/leds/blue/blink
    chown system system /sys/class/leds/mix/brightness
    chmod 0664 /sys/class/leds/mix/brightness
    chown system system /sys/class/leds/mix/blink
    chmod 0664 /sys/class/leds/mix/blink
    #ASUS_BSP Deeo : add for Led test ---




#ASUS_BSP +++ Allen1_Huang "Add asus_log folder"
    mkdir /data/media/asus_log
    chown sdcard_rw sdcard_rw /data/media/asus_log
    chmod 0755 /data/media/asus_log
#ASUS_BSP --- Allen1_Huang "Add asus_log folder"

#ASUS_BSP+++ [thomas]move from init.asus.debugtool.rc 
	chmod 0775 /data/log 
#ASUS_BSP--- [thomas]move from init.asus.debugtool.rc 
#ASUS_BSP+++ [thomas] enable user version debug
service asusdebug /system/bin/sh /system/etc/prepare_asusdebug.sh
    class late_start
    oneshot
    disabled

on property:persist.asus.debug=1
	export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/data/debug
	start asusdebug
#ASUS_BSP--- [thomas] enable user version debug

#ASUS_BSP +++ Allen1_Huang
service asusevtlog /system/bin/sh /system/etc/init.asus.evtlog.sh
    class late_start
    oneshot
    disabled

on property:sys.asus.evtlog=1
    start asusevtlog
on property:sys.asus.evtlog=0
    start asusevtlog
#ASUS_BSP --- Allen1_Huang

#ASUS_BSP +++ Yujoe "[A60K][Diag][N/A][Improve]Improve the process of saving QXDM log to SD card."
service diag_mdlog /system/bin/diag_mdlog
    class late_start
    disabled
    seclabel u:r:diag:s0

on property:persist.asus.qxdmlog.enable=1
    insmod /system/lib/modules/diagchar.ko
    start diag_mdlog  

on property:persist.asus.qxdmlog.enable=0
    stop diag_mdlog
    write /sys/power/wake_unlock diag_fwrite

on property:debug.asus.qxdmlog.enable=1
    start diag_mdlog  

on property:debug.asus.qxdmlog.enable=0
    stop diag_mdlog
    write /sys/power/wake_unlock diag_fwrite
#ASUS_BSP --- Yujoe "[A60K][Diag][N/A][Improve]Improve the process of saving QXDM log to SD card."

#ASUS_BSP+++ jacob kung "[A68][USB][NA][NA] setup qpst download mode properity"
on property:persist.sys.downloadmode.enable=1
    write /sys/module/restart/parameters/download_mode 1
    write /Removable/MicroSD/rdcookie.txt start
    write /Removable/MicroSD/rtcookie.txt end

on property:persist.sys.downloadmode.enable=0
    write /sys/module/restart/parameters/download_mode 0
    rm /Removable/MicroSD/rdcookie.txt
    rm /Removable/MicroSD/rtcookie.txt
#ASUS_BSP--- jacob kung "[A68][USB][NA][NA] setup qpst download mode properity"


#ASUS_BSP+++ Gavin_Chang "filldata stress"
service filldata /system/bin/filldata.sh
    user root
    group root
    disabled
    oneshot

on property:persist.boot.filldata=1
    start filldata

on property:persist.boot.filldata=0
    stop filldata
#ASUS_BSP--- Gavin_Chang "filldata stress"

#ASUS_BSP+++ Gavin_Chang "add fsstress"
service fsstress /system/bin/fsstress-run.sh
    user root
    group root
    disabled
    oneshot

on property:persist.boot.runfsstress=1
    start fsstress

on property:persist.boot.runfsstress=0
    stop fsstress
#ASUS_BSP--- Gavin_Chang "add fsstress"

#ASUS_BSP+++ lei_guo "add prop for selinux switch"
on property:asus.logtool.sf=1
	write /proc/rd asussetenforce:1

on property:asus.logtool.sf=0
	write /proc/rd asussetenforce:0
#ASUS_BSP--- lei_guo "add prop for selinux switch"

#ASUS_BSP+++ Add native service for NFC ATD test+++
service control_nfc /system/bin/sh /system/etc/init.asus.nfc.sh
	class late_start
	user root
	#group system qcom_oncrpc
	group root
	disabled
	oneshot
#ASUS_BSP--- Add native service for NFC ATD test---

on property:persist.usb.diag=1
    insmod /system/lib/modules/diagchar.ko
    start asus-usb-diag
    start adbd

on property:persist.usb.diag=0
	start asus-usb-diag

#+++ASUS_BSP : add for charger mode to enable uart console , adb and mount asdf folder 
on charger
#mount asdf
    wait /dev/block/platform/msm_sdcc.1/by-name/tombstones
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/tombstones
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/tombstones /asdf nosuid nodev barrier=1

    write /proc/asusevtlog  "ASDF: Check LastShutdown log."
    write /proc/asusdebug  get_asdf_log
#---ASUS_BSP : add for charger mode to enable uart console , adb and mount asdf folder 

# ASUS BSP Eric Wu : get color id+++
service Colorid /system/bin/idcode.sh
	class late_start
	user root
	oneshot
#ASUS BSP Eric Wu : get color id --------

service debugprofile /system/bin/sh /system/etc/start_debug.sh
    class late_start
    oneshot
    disabled
    seclabel u:r:debugprofile:s0

on property:persist.asus.debugprofile=1
    start debugprofile

on property:persist.asus.debugprofile=0
    stop debugprofile


service debugonce /system/bin/sh /system/etc/start_debugonce.sh
    class late_start
    oneshot
    disabled
    seclabel u:r:debugprofile:s0

on property:persist.asus.debugoneshot=1
    start debugonce

on property:persist.asus.debugoneshot=0
    stop debugonce

#ASUS_BSP +++ widevine
service ins_key /system/bin/install_key_server
    class late_start
    user root
    group root
    seclabel u:r:install_key_server:s0
    disabled

on property:atd.start.key.install=1
    start ins_key

service widevine /system/bin/sh /system/bin/widevine.sh
    class late_start
    oneshot
#ASUS_BSP --- widevine

# ASUS_BSP+++ jeewu "Add  ro.isn property"
service isn /system/bin/isn
      class core
      oneshot
# ASUS_BSP--- jeewu  "Add  ro.isn property"

on property:sys.asuskey=1
	copy /data/asuskey /dev/block/mmcblk0p15
	rm /data/asuskey
